#pc-wrap {
  .cs-page {
    position: relative;
    padding: 60px 0px 60px;
    width: 100%;
    height: auto;
    .container {
      display: flex;
      flex-direction: column;
      .cs-main-info {
        display: flex;
        flex-direction: column;
        .info {
          display: flex;
          flex-direction: column;
          align-items: center;
          span {
            color: #000;
            font-family: $font;
            font-size: 35px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            letter-spacing: 0.525px;
          }
          p {
            color: #757575;
            font-family: $font;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
          }
        }
        .btns {
          margin-top: 50px;
          display: flex;
          flex-direction: row;
          justify-content: center;
          :first-child {
            border-radius: 4px 0 0 4px;
          }
          :last-child {
            border-radius: 0 4px 4px 0;
          }
          div {
            width: 204px;
            height: 46px;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid #EEE;
            cursor: pointer;
            color: #BDBDBD;
            font-family: $font;
            font-size: 14px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            letter-spacing: 0.42px;
            &.active {
              border: 1px solid #725CE8;
              background: #EB6753;
              color: #FFF;
            }
          }
        }
      }
      .cs-content {
        margin-top: 25px;
        display: flex;
        flex-direction: column;
        .title {
          margin-bottom: 25px;
          color: #000;
          font-family: $font;
          font-size: 27px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          letter-spacing: 0.54px;
        }
        .pagination {
          margin-top: 50px;
          display: flex;
          flex-direction: row;
          justify-content: center;
        }
        .notice-content {
          .main {
            border: 1px solid #EEE;
            .top {
              padding: 25px 33px;
              display: flex;
              flex-direction: row;
              justify-content: space-between;
              span {
                color: #000;
                font-family: $font;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                text-transform: capitalize;
              }
            }
            .bottom {
              display: flex;
              flex-direction: column;
              .notice-card {
                padding: 20px 14px 20px 30px;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                border: 1px solid #EEE;
                &.event {
                  background: #F6D79A;
                }
                div {
                  padding: 6px 9px;
                  border-radius: 12px;
                  border: 1px solid #EB6753;
                  color: #EB6753;
                  font-family: $font;
                  font-size: 12px;
                  font-style: normal;
                  font-weight: 400;
                }
                .notice-number {
                  margin-left: 18px;
                  width: 39px;
                  color: #BDBDBD;
                  font-family: $font;
                  font-size: 14px;
                  font-style: normal;
                  font-weight: 400;
                  line-height: normal;
                }
                .notice-title {
                  width: 1060px;
                  color: #000;
                  font-family: $font;
                  font-size: 16px;
                  font-style: normal;
                  font-weight: 400;
                  line-height: normal;
                }
                .notice-date {
                  color: #BDBDBD;
                  font-family: $font;
                  font-size: 14px;
                  font-style: normal;
                  font-weight: 400;
                  line-height: normal;
                }
              }
            }

          }

        }
        .contact-content {
          margin-top: 25px;
          display: flex;
          flex-direction: column;
          height: auto;

          .additional-info {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .info-item {
              width: 400px;
              padding: 30px;
              border-radius: 10px;
              background-color: #f6e5de;
              &:hover {
                background-color: #d16655;
                color: white;
                box-shadow:0 8px 16px 0 rgba(0,0,0,0.6)
              }

              .head {
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;

                p {
                  font-size: 30px;
                  font-weight: 600;
                  line-height: normal;
                }

                .icon {
                  width: 70px;
                  height: 70px;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  border-radius: 20px;
                  border: 0.5px solid #d16655;
                  background-color: #ffffff;
                }
              }
              .content {
                margin-top: 20px;
                font-size: 18px;
              }
            }
          }
          .contact-main {
            width: 100%;
            margin-top: 100px;
            padding: 40px;
            border-radius: 10px;
            background-color: #f6e5de;

            p {
              font-size: 35px;
              font-weight: 600;
              text-align: center;
            }

            .inquiry-box {
              margin-top: 20px;

              .content-input {
                padding: 20px;
                margin-top: 30px;
              }

              .button {
                width: 20%;
                height: 40px;
                margin-top: 20px;
                background-color: #d16655;
                font-weight: bold;
                color: white;
                &:hover {
                  background-color: #2e4a5b;
                  box-shadow:0 8px 16px 0 rgba(0,0,0,0.6)
                }
              }
            }
          }
        }
        .faq-content {
          margin-top: 25px;
          display: flex;
          flex-direction: column;
          .notice-box {
            margin-bottom: 15px;
            background-color: #f5f7fa;
            border: 0px;
            border-radius: 10px;
            .question {
              background-color: #f5f7fa;
              border-radius: 10px;
              p{
                font-size: 19px;
                font-weight: 700;
              }
            }
            .answer {
              display: flex;
              white-space: wrap;
              flex-direction: row;
              p{
                margin-left: 10px;
                text-align: start;
                opacity: 0.6;
              }
            }
          }
        }
      }
    }
  }
}
